<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>Document</title>
</head>

<body>
    <!-- 不仅可以把数据绑定到 DOM 文本或 attribute，还可以绑定到 DOM 结构 -->
    <div id="app">
        <!-- v-if 指令将根据表达式 size === 'L' 的值的真假来插入/移除 <h3> 元素。 -->
        <h3 v-if="size === 'L'">L</h3>
        <h3 v-else-if="size === 'XL'">XL</h3>
        <h3 v-else-if="size === 'XXL'">XXL</h3>
        <h3 v-else="size === 'XXXL'">XXXL</h3>
        <br>
        
        <!-- v-for 指令可以绑定数组的数据来渲染一个列表 -->
        <li v-for="data in arr1">
            {{data.text}}
        </li>
        <br>
        <li v-for="(item,i) in arr2">
            值为：{{item}},索引：{{i}}
        </li>
    </div>

</body>

</html>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            size:"L",
            arr1: [
                { text: "text1" },
                { text: "text2" },
                { text: "text3" }
            ],
            arr2:[
                1,2,"Three"
            ]
        }
    })

</script>